.card-wrapper {
  align-items: center;
  background-color: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: grid;
  gap: 1rem;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 200px;
}

.card-wrapper > img {
  object-fit: cover;
  padding: 1rem 2rem 0rem 2rem;
  width: 60%;
}

.card-wrapper:hover {
  background-color: #ededed;
  scale: 0.98;
}

.card-wrapper:active {
  scale: 0.95;
}
